.sky {
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 1000px;
	
}
.border {
	width: 600px;
	height: 600px;
	border: 5px solid black;
	position: relative;
	top: 200px;
	left: 200px;
}
.earth {
	position: absolute;
	width: 70px;
	height: 70px;
	top: 0;
	left: 0px;
	transition: 2s all linear;
	animation: earth  40s infinite;
}
.earth:hover {
	transform: scale(1.5) rotate(90deg);
}

@keyframes earth {
	0% {top: 0; left: 0;}
	20% {top: 400px; left: 0;}
	40% {top: 400px; left: 400px;}
	60% {top: 0; left: 400px;}
	100%{top: 0;}
}

.moon {
	position: absolute;
	width: 70px;
	height: 70px;
	top: 0;
	left: 100px;
	transition: 2s all linear;
	animation: moon 40s infinite;
}
.moon:hover {
	transform: scale(1.5) rotate(90deg);
}
@keyframes moon {
	0% {top: 0; left: 100;}
	20% {top: 0; left: 0;}
	40% {top: 400px; left: 0;}
	60% {top: 400px; left: 400px;}
	80% {top: 0; left: 400px;}
	100%{top: 0;}
}

.mars {
	position: absolute;
	width: 70px;
	height: 70px;
	top: 0;
	left: 200px;
	transition: 2s all linear;
}
.mars:hover {
	transform: scale(1.5) rotate(90deg);
}

.jupiter {
	position: absolute;
	width: 70px;
	height: 70px;
	top: 0;
	left: 300px;
	transition: 2s all linear;
}
.jupiter:hover {
	transform: scale(1.5) rotate(90deg);

}